# ┌─────────────────────────────┐
# │                             │
# │    Dotfiles GitIgnore       │
# │                             │
# └─────────────────────────────┘
# ref : https://github.com/bitprophet/dotfiles/blob/main/.gitignore


# Ignore everything by default.
*

!.config

!.config/vim
!.config/vim/**
.config/vim/after
.config/vim/backup
.config/vim/swap

!.config/nvim
!.config/nvim/**
.config/nvim/after
.config/nvim/backup
.config/nvim/swap

!.config/tmux
!.config/tmux/**

!.config/git
!.config/git/**

!.config/utils
!.config/utils/**

!.config/bash
!.config/bash/**

#tmux plugins
.config/tmux/plugins

#scripts
!.config/scripts
!.config/scripts/*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout
!.profile


# Git aliases, identification info
#!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
# My global Git excludes file (acts as a global .gitignore)
#!.gitexcludes


# vim
.netrw*
view/
.config/vim/swap

# nvim
!AppData/Local/nvim
!AppData/Local/nvim/**

# Powershell Profiles
!Documents/
!Documents/**
!Documents/WindowsPowershell/*
!Documents/Powershell/*
